
h1{background-color: rgb(188, 199, 208);}
p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
.a{
    background-color: rgba(48, 116, 241, 0.993)
    
}
.b{
    background-color: rgba(48, 116, 241, 0.886)
    
}
.c{
    background-color: rgba(48, 116, 241, 0.779)
    
}
.d{
    background-color: rgba(48, 116, 241, 0.720)
    
}
.e{
    background-color: rgba(48, 116, 241, 0.650)
    
}
.f{
    background-color: rgba(48, 116, 241, 0.580)
    
}
.g{
    background-color: rgba(48, 116, 241, 0.510)
    
}
.h{
    background-color: rgba(32, 175, 104, 0.986)
    
}
.i{
    background-color: rgba(224, 16, 131, 0.420)
    
}
.j{
    background-color: rgba(224, 16, 131, 0.480)
    
}
.k{
    background-color: rgba(224, 16, 131, 0.520)
    
}
.l{
    background-color: rgba(224, 16, 131, 0.600)
    
}
.m{
    background-color: rgba(224, 16, 131, 0.740)
    
}
.n{
    background-color: rgba(224, 16, 131, 0.820)
    
}
.o{
    background-color: rgba(224, 16, 131, 0.925)
    
}